body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
  background: #ffe6f0;
}

input, textarea {
  width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

button:hover {
  background: darkred;
  transform: scale(1.05);
}